@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input ::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button ::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a :visited {
  text-decoration: none; }

a :hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5 {
  font: inherit;
  font-weight: 400; }

/*--------------------------------------------------------- */
/** Флекс центр */
.trackbar, .gallery, .gallery__img {
  display: flex;
  justify-content: center;
  align-items: center; }

.info__title {
  border: 1px solid black; }

html {
  height: 100%; }

body {
  background-color: DarkSlateGrey;
  font-family: Verdana;
  padding-bottom: 10px;
  height: 100%; }

.task {
  background-color: silver;
  max-width: 900px;
  margin: 10px auto;
  min-height: 250px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); }

.title-h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: blue;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 10px; }

.trackbar {
  margin: 70px auto;
  border: 1px solid gray;
  height: 25px;
  width: 220px; }

.line {
  border: 1px solid grey;
  height: 5px;
  width: 200px;
  background-color: gray;
  position: relative; }

.slider {
  background-color: blue;
  height: 9.0909090909px;
  width: 8px;
  position: absolute;
  top: -2.5px; }

.gallery {
  gap: 40px;
  margin: 20px; }

.arrow {
  width: 50px;
  cursor: pointer; }

.gallery__forward {
  transform: rotate(180deg); }

.gallery__img {
  width: 230px;
  height: 250px; }

.gallery__img > img {
  width: 100%; }

.disable {
  filter: grayscale(100%);
  opacity: 30%; }

.info {
  margin: 0;
  padding: 0; }

.info__title {
  background-color: #518CBB;
  color: white;
  font-size: 18px;
  line-height: 24px; }

.info__text {
  border-top: 1px solid black;
  background-color: #B4DBE8;
  color: black;
  font-size: 15px;
  line-height: 17px;
  padding: 5px; }

.hidden > p {
  display: none; }

.news {
  padding: 30px 100px; }

.news__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px; }

.news__text {
  line-height: 24px;
  width: 70%; }

.lane {
  margin: 0 auto;
  width: 310px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 2px;
  border: 1px solid blueviolet; }

.lane > div {
  height: 100%;
  width: 8px;
  background-color: blueviolet; }

.wrap {
  color: blueviolet;
  margin: 0 auto;
  text-align: center; }

.wrap > p {
  margin-bottom: 3px; }

/*----------------------МЕДИА ЗАПРСЫ----------------------- */
