doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title empty_project
		link(rel="stylesheet", href="./style/style.css")
	body
		.task2.task
			h2.title-h2 Задание 2
			.task2__content
				form#task2-form(name="task2Form")
					label Группа
					select.task2-select#task2-group(name="task2Group")
					label Урок
					select.task2-select#task2-lesson(name="task2Lesson")
					button#task2-button(name="task2Button") Выбрать
		script(type="text/javascript", src="./js/script.js")