@import "./resetting-styles";
@import "./_mixinos"; 
/*--------------------------*/

body {
	padding: 0px 0px 0px 0px;
}

.wrapper {
	border: 2px solid red;
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 10px;
}	

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
	// .block__row
	border: 2px solid green;
	&__row {
		display: flex;
		border: 20px solid #ece89d;
		margin: 0px 0px 0px 0px;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 500px;
		
	}

	// .block__column

	&__column {
		border: 20px solid #5e5373;
		

	}

	&__column-1 {
	}
	&__column-2 {
	}
	&__column-3 {
	}
	// .block__item

	&__item {
		background-color: #18b5a4;
		padding: 30px;
		font-size: 20px;
		color: #fff;
		font-weight: 700;
		text-align: center;
	}
}