/**            МЕДИА ЗАПРОСЫ               */
@media only screen and (max-width:1170px) {


}

@media only screen and (max-width:800px) {

}

@media only screen and (max-width:650px) {
	.header__nav ul {
		grid-template-columns: repeat(3, auto);
		grid-template-rows:repeat(2, auto) ;
	}

	.center-block h1 {
		font-size: 45px;
	}
	.center-block h3 {
		font-size: 18px;
	}	

}

@media only screen and (max-width:500px) {
	.header__nav {
		display: none;
	}
	.header__burger {
		display: block;
	}



	.button {
		width: 170px;
		height: 45px;
		&__title span {
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
		}
		&__title img {
			display: none;
		}

	}

}