@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./resetting-styles";
/*--------------------------------------------------*/

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 98vw;
	height: 113.42vw;
	max-width: 1170px;
	max-height: 1327px;
	margin: 2% auto;
}

.background-box {
	background: url(../img/background-box__back.jpg) 0 0 / 100% 100% no-repeat;
	min-height: 47.4%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1.4% 5% 1.4% 5%;
	min-height: 62px;
	border-bottom: 2px solid #D6CDCD;

	&__logo {
		margin-right: 10%;
	}

	&__logo img {

	}

	&__nav {
		margin-top: .5%;
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: -0.05em;
		color: #E1E1E1;
		text-transform: uppercase;
	}

	&__nav a:visited {
		color: #E1E1E1;
	}

	&__nav a:hover {
		text-decoration: underline;
		color: yellow;
	}

	&__nav li {
		display: inline-flex;
		margin-right: 10px;
	}

	&__nav ul:last-child {
		margin-right: 0;

	}
}

.center-block {
	color: #FFFEFC;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 15% 2%;

	& h1, h3 {
		text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	}

	& h1 {
		font-weight: 700;
		font-size: 61px;
		line-height: 70px;
		margin-bottom: 5%;
	}

	& h3 {
		font-weight: 500;
		font-size: 22px;
		line-height: 25px;
		margin-bottom: 5%;
	}
}

.button {
	width: 248px;
	height: 63px;
	background: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	border-radius: 2px;

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #494646;
		text-transform: uppercase;
	}

	&__title img {
		margin-right: 10px;
	}
}

.inform-box {
	min-height: 52.6%;

	&__text {
		min-height: 259px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__text h2 {
		font-weight: 700;
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.01em;
		color: #494646;
		margin: 5% 0 2% 0;
	}

	&__text p {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: -0.01em;
		color: #9A98A0;
		max-width: 472px;
		align-self: center;
	}

	&__card-container {
		min-height: 62.89%;
	}
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__card {
		margin-bottom: 40px;
	}
}

.card {
	max-width: 330px;
	min-height: 391px;

	&:nth-child(1) .card__picture{
		background: url(../img/flex-item__foto1.png) 0 0 / auto auto repeat scroll;
	}

	&:nth-child(2) .card__picture{
		background: url(../img/flex-item__foto2.png) 0 0 / auto auto repeat scroll;
	}

	&:nth-child(3) .card__picture{
		background: url(../img/flex-item__foto3.png) 0 0 / auto auto repeat scroll;
	}

	&__info {
		padding: 0 2px 0 2px;
	}

	&__picture {
		width: 100%;
		min-height: 224px;	
	}

	&__header {
		display: inline-flex;
		min-height: 50px;
		align-items: baseline;
		padding-top: 10px;
	}

	&__header h3 {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: -0.01em;
		color: #494646;
		margin-right: 20px;
	}

	&__header h4 {
		font-weight: 500;
		font-size: 15px;
		line-height: 17px;
		letter-spacing: 0.02em;

color: #9A98A0;
	}

	&__text {
		min-height: 109px;
	}

	&__text p {
		font-weight: 500;
		font-size: 15px;
		line-height: 21px;
		color: #9A98A0;
		margin-bottom: 10px;
	}

	&__link {
		font-weight: 700;
		font-size: 15px;
		line-height: 21px;
		color: #646367;
	}

	&__link a:visited {
		color: #646367;
	}

	&__link a:hover {
		text-decoration: underline;
		color: blue;
	}
}