@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./resetting-styles";
/*--------------------------------------------------*/

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 98vw;
	height: 100vh;
	max-width: 1170px;
	max-height: 100vh;
	margin: .5% auto;
}

.background-box {
	background: url(../img/background-box__back.jpg) center / 100% 100% no-repeat;
	margin-bottom: 15px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 2px solid #D6CDCD;

	&__logo img {
		height: 24px;
	}

	

	&__nav {
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: -0.05em;
		color: #E1E1E1;
		text-transform: uppercase;
	}

	&__nav a:visited {
		color: #E1E1E1;
	}

	&__nav a:hover {
		text-decoration: underline;
		color: yellow;
	}

	&__nav ul {
		display: grid;
		grid-template-columns: repeat(6, auto);
		grid-template-rows:repeat(1, auto) ;
		gap: 10px;
	}

	&__nav ul:last-child {
		margin-right: 0;

	}

 
	&__nav {
		margin: 5px 0 0 0;
		font-weight: 500;
		font-size: 17px;
		line-height: 20px;
		color: #E1E1E1;
		text-transform: uppercase;
		letter-spacing: -0.05em;
					
					
	}
	&__burger {
		display: none;
	}

}

.center-block {
	color: #FFFEFC;
	display: flex;
	min-height: 45vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 2%;
	& h1, h3 {
		text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	}

	& h1 {
		font-weight: 700;
		font-size: 61px;
		line-height: 70px;
		text-align: center;
	}

	& h3 {
		font-weight: 500;
		font-size: 22px;
		line-height: 25px;
		text-align: center;
	}
}

.button {
	width: 230px;
	height: 60px;
	background: #FFFFFF;
	border-radius: 15%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	border-radius: 2px;

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #494646;
		text-transform: uppercase;
	}

	&__title img {
		margin-right: 10px;
	}
}

.inform-box {
	
	&__text {
		font-weight: 700;
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.01em;
		color: #FF9428;
		text-align: center;
		margin-bottom: 20px;
	}
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2%;
	min-height: 370px;
	&__card {
		background-color: #494646
	}
	&__card:nth-child(1) {
		background: url(../img/road1.jpg) center / 100% 100% no-repeat;
	}
	&__card:nth-child(2) {
		background: url(../img/road2.jpg) center / 100% 100% no-repeat;
	}
	&__card:nth-child(3) {
		background: url(../img/road3.jpg) center / 100% 100% no-repeat;
	}

}

.card {
	position: relative;
	overflow: hidden;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);

	&__slyder {
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		opacity: 100%;
		padding: 25px 20px;
		top: 200px;
		transition: .5s;

		& h3 {
			color: #8E8B8B;
			font-weight: 500;
		}
		& h2 {
			font-weight: 700;
			font-size: 20px;
			margin: 20px 0;

		}
		& p {
			margin-bottom: 35px;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
		}

		&:hover {
			top: 0;
			background-color: rgba(0, 0, 0, .5);
			padding: 25px 0;
		}
		&:hover h3 {
			text-align: center;
			color: #ffffff;
		}
		&:hover h2 {
			text-align: center;
			background-color: #E6A02C;
			line-height: 35px;
		}
		&:hover p {
			text-align: center;
			color: #ffffff;
		}
	}
	
}


@import "./_media_queries";