/**            МЕДИА ЗАПРОСЫ               */
@media only screen and (max-width:1000px) {
	// перестраиваем блоки info-card на 2х2
	.main__info {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 60px;
 	}

	.charts-card__picture {
		height: 120px;

	}
	.charts-card__picture-wrap {
		height: 40%;

	}
	
	.user-profile__wrapper {
		flex-wrap: wrap-reverse;

	}

	.user-profile__info {
	max-width: 100%;
	margin-bottom: 60px;
	}	

	.user-profile__editor {
		max-width: 100%;
	}

	.lists {
		flex-wrap: wrap;

		&__task-list {
			min-width: 100%;
			margin-bottom: 60px;

		}

		&__worker-list {
			min-width: 100%;

		}
	}



}

@media only screen and (max-width:800px) {
	// скрываем боковую панель
	.content__aside-wrap {
		display: none;
	}

	// отображаем бургер
	.main__burger {
		display: block;
	}

	
	
	
}

@media only screen and (max-width:650px) {
	
	.charts-card {
	min-height: 280px;

	}
	
	.charts-card__picture-wrap {
		height: 50%;

	}
	.charts-card__picture {
		height: 170px;

	}

	.main__charts {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 60px;

	}

 }

@media only screen and (max-width:500px) {
	.main__info {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
 	}
}

