// импортируем _resetting-styles.scss для сброса стилей CSS
@import "./resetting-styles";

/******************  Стили CSS сброшены  ******************/
body {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	background-color: rgb(146, 145, 145);
	padding-bottom: 30px;
}

.container {
	width: 1440px;
	height: 1700px;
	background-color: #e8e8e8;
	margin: 20px auto auto auto;
	border: 2px solid rgb(218, 180, 13);
}

.box {
	width: 1190px;
	height: 1064px;
	opacity: 1;
	margin: 106px 0 0 142px;
	// background: linear-gradient(0deg, rgba(232, 232, 232, 0.5), rgba(232, 232, 232, 0.5)), url(../img/ellipse_1.jpg);
	padding: 62px 0 0 0;

	&__logo {
		font-family: Arial;
		font-size: 14px;
		line-height: 40px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #273d46;
		text-align: center;
	}

	&__title {
		width: 725px;
		font-size: 36px;
		line-height: 50px;
		font-weight: 400;
		color: #273d46;
		text-align: center;
		margin: 0 auto 87px auto;
	}

	&__imagebox {
		margin: 0 auto 60px auto;
		background-color: #fff;
		width: 841px;
		height: 561px;
		box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
		padding: 10px;
	}

	&__text {
		max-width: 750px;
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
		color: #273d46;
		margin: 0 auto 0 auto;

		.first-paragraph {
			margin: 0 0 30px 0;
		}
	}
}

.list {
	margin: 167px 0 0 360px;
	font-family: Arial;
	font-size: 20px;

	&__item1 {
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
		color: #273d46;
	}

	&__item2 {
		font-style: italic;
		color: #80b7b3;
	}

	&__item3 {
		font-weight: 700;
		color: #273d46;
	}

	&__item4 {
		text-decoration: line-through;
		color: #273d46;
	}

	li {
		margin: 0 0 16px 0;
		background: url(../img/icons/check_icon_37.png) left no-repeat;
		padding: 0 0 0 37px;
	}

}


.button {
	margin-left: 360px;
	margin-top: 70px;
	display: block;
	width: 199px;
	height: 44px;
	background-color: rgba(128, 183, 179, 1);
	border-radius: 50px;

	&__inscription {
		width: 155px;
		margin: auto;

	}

	p {
		display: inline-block;
		font-family: Arial;
		font-size: 14px;
		line-height: 40px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		margin: 0 11px 0 0;

	}

	&__image {
		display: inline-block;


		img {
			width: 21px;
			height: 14px;
			margin: 10 0 auto 0;
		}
	}
}