@import "./resetting-styles";
@import "./_mixins"; 
@import "./templates";
//*****************************

.content {
	max-width: 600px;
	min-width: 200px;
	margin: 20px auto;
	background-color: silver;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	line-height: 36px;
	h3 {
		border: 1px solid white;
		font-size: 20px;
		font-style: italic;
		line-height: 27px;
}	
	.grid-container {
		display: grid;
		grid-template-columns: 1fr .4fr .5fr;
	}
	.grid-element {
		border: 1px solid white;
	}
	.buy {
		color: DarkGreen;
	}
	.not-buy {
		color: DarkRed;

	}
	.header {
		font-weight: 600;
	}

}












//* МЕДИА ЗАПРОСЫ         
@import "./media_queries";