@import url(.//clear-style.css);
/*------------------------------*/

.content {
	margin: 30px auto;
	width: 688px;
	height: 343px;
	background: #696969;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}

.content__wrap {
	transform: rotate(20deg);
	translate: -20px 68px;
}

.content__wrap div {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content__wrap div:nth-child(1) {
	background: #0000FF;
	width: 245px;
	height: 245px;
	display: inline-block;
	border-radius: 78px 5px 0 78px;
}

.content__wrap div:nth-child(2) {
	background: #A52A2A;
	width: 245px;
	height: 245px;
	display: inline-block;
	border-radius: 5px 78px 78px 0px;
}