doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title empty_project
		link(rel="stylesheet", href="./style/style.css")
	body
		h2.title-h2 Задание 1
		.task1.task
			.task1__messages
			form(name="task1")#task1_form
				input.task1-form__input#task1-form-name(type="text", name="task1FormName", placeholder="Введите ваше имя")
				textarea#task1-form-message.task1-form__input(name="task1FormMessage", cols="30", rows="8", placeholder="Введите ваше сообщение")
				button#task1-form-button(name="task1FormButton") Отправить
		.task2.task
			h2.title-h2 Задание 2
			#task2-root

		.task3.task
			h2.title-h2 Задание 3
			.task3__content
				.task3__checkboxes
					input.task3__check(type="checkbox", data-check="task3-bold")
					span Bold
					input.task3__check(type="checkbox", data-check="task3-underline")
					span Underline
					input.task3__check(type="checkbox", data-check="task3-italic")
					span Italics
					input.task3__radio(type="radio", name="text-align", data-radio="left")
					span left
					input.task3__radio(type="radio", name="text-align", data-radio="right")
					span right
					input.task3__radio(type="radio", name="text-align", data-radio="justify")
					span justify
				textarea.task3__textarea(cols=70, rows=6)
				button.task3__button#task3-button Показать текст
			.task3__div.task3__none Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perspiciatis.

		.task4.task
			h2.title-h2 Задание 4
		script(type="text/javascript", src="./js/script.js")
