* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/*--------------------------*/
body {
  background-color: rgb(46, 42, 42);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.content {
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  color: beige;
  text-align: center;
}

.grid__body {
  border: 3px solid #fff;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(6, 1fr);
}
.grid__item {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "header header" "side content";
}

.grid-header {
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 0px 0px 15px 0px;
  grid-area: header;
}

.grid-side {
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 0px 0px 15px 0px;
  grid-area: side;
}

.grid-content {
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 0px 0px 15px 0px;
  grid-area: content;
}