@import url(./header.css);
@import url(./aside.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.transition__button {
    display: block;
    margin: 0 auto;
    background-color: var(--color-rosy-brown);
    border: 1px solid var(--color-rosy-brown);
    border-radius: 5px;
    transition: all .5s ease 0s;
    color: var(--bg-main);
    padding: 8px 30px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;

}

.transition__button:hover {
    letter-spacing: 2px;
    background-color: var(--color-dim-gray);
    color: var(--bg-main);
    border: 1px solid var(--bg-main);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
}

.transition__text{
    margin-bottom: 20px;
}

.transition__text-color {
    color: var(--color-rosy-brown);
    font-style: italic;
    font-size: 18px;
    display: inline-block;
}

.mt {
    margin-top: 20px;
}

.transform__example-wrap {
    margin: 20px 0;
    background-color: var(--color-gainsboro);
    border: 1px solid var(--color-dim-gray);
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.transform__example {
    position: relative;
    max-width: 700px;
    background-color: var(--color-bisque);
    height: 150px;
    padding: 10px;
    transform: translateX(-662px);
    transition: transform .8s ease-in-out;
    border-radius: 3px 0 0 3px;
}

.transform__example::after {
    content: "Нажми на меня";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background-color: var(--color-dim-gray);
    writing-mode: vertical-rl;
    border-radius: 5px 0 0 5px;
    text-align: center;
    padding-right: 8px;
    color: var(--bg-main);
    rotate: -180deg;
    cursor: pointer;
}

.transform__example:hover {
    transform: translateX(0px);
}

.transform__example-box {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

.transform__exemple-round {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: var(--color-rosy-brown);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
    border-radius: 5px;
    transition: .5s ease;
    margin-top: 5px;
}

.scale:hover {
    transform: scale(1.1);
}

.rotate {
    background-color: var(--color-silver);
}

.rotate:hover {
    transform: rotate(90deg);
}

.skew {
    background-color: var(--color-dim-gray);
}

.skew:hover {
    transform: skewX(-30deg);
}

.animation-propety__title {
    margin-top: 20px;
}

.animation-propety__syntax {
    padding: 30px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
    font-style: oblique;
    margin-bottom: 20px;
}

.animation-propety__exemple {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color: var(--color-gainsboro);
}

.animation-propety__box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 100px;
    background-color: var(--color-rosy-brown);
    border: 1px solid #000;
    transform: translate(-50%, -46%) rotate(25deg) skew(13deg);
}

@keyframes animation2 {
    from{
        transform: translate(-50%, -46%) rotate(25deg) skew(13deg);
    }
    to {
        transform: translate(-50%, -66%) rotate(25deg) skew(13deg);
    }
}