.title-h2 {
}
.flex-wrap {
	margin: 40px 0;

}
.flex-display {
}

.flex-container {
	max-width: 600px;
	margin: 0 auto;
}
.flex-nav {
	list-style: none;
	display: flex;
	align-items: center;
	padding-bottom: 1px;
}

.flex-nav li {
	border: 1px solid var(--color-gainsboro);
	padding: 5px 10px;
	margin-right: 1px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.flex-item {
	width: 100%;
	min-height: 50px;
	border: 1px solid var(--color-gainsboro);
	padding: 5px;
}

.flex-item:nth-child(1){
	background: var(--color-bisque);
}

.flex-item:nth-child(2){
	background: var(--color-silver);
}

.flex-item:nth-child(3) {
	background:var(--color-linen);
}

.flex-item:nth-child(4){
	background: var(--color-rosy-brown);
}

.flex-item:nth-child(5){
	background: #87cefa);
}

.flex-item:nth-child(6){
	background: #dda0dd);
}

.flex-item:nth-child(7) {
	background: #f0e68c;
}

.flex-item:nth-child(8){
	background: #90ee90;
}




.flex-direction {
}


.flex-box [data-box="flex-box"] {
	display: flex;
}

.flex-box [data-box="flex-box"] .flex-item{
	width: 100px;
	height: 100px;
}

/*       flex-display            */
[data-box="flex-box"] {
	border: 1px solid var(--color-gainsboro);
}

.flex {
	display: flex;
}
.block {
	display: block;
}
.inline-flex {
	display: inline-flex;
}


.text {
}
.flex-justify-content {
}
.flex-align-items {
}
.flex-flex-wrap {
}
.flex-flow {
}
.flex-align-content {
}