.formats-image {
    margin: 20px 0;
}

.formats-image__vector,
.formats-image__rastr,
.formats-image__images {
    margin: 20px 0;
}

.formats-image-svg {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0px;
    border: 3px solid var(--color-dim-gray);
    border-radius: 5px;
    padding: 20px;
}

.formats-image-svg svg {
    cursor: pointer;
    transition: ease .5s;
}

.formats-image-svg svg:nth-child(1):hover,
.formats-image-svg svg:nth-child(2):hover {
    width: 40px;
    height: 40px;
}

.formats-image-svg svg:nth-child(2) path {
    stroke: var(--color-rosy-brown);
}

.formats-image-svg svg:nth-child(2):hover {
    fill: var(--color-rosy-brown);
}

.formats-image-svg svg:nth-child(3):hover {
    transform: rotate(180deg);
}


/* ------------------------- formats-image__images-image -------------------------------- */

.formats-image__images {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.formats-image__images-item {
    display: inline-block;
    transition: ease .5s;
}

.formats-image__images-item img {
    width: 300px;
}

.formats-image__images-item:hover {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
}

/* ------------------------ section  tag-img -------------------------------------------*/

.tag-img,
.tag-img__wrap {
    margin: 20px 0;
}

.tag-img__wrap p {
    font-style: italic;
}

/* ------------------------ section  bacground-imgage -------------------------------------------*/

.bacground-imgage {
    margin: 20px 0;
}

.bacground-imgage p {
    margin-bottom: 10px;
}


/* ------------------------ details -------------------------------------------*/


.list-details details summary {
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-silver);
    border: 1px solid var(--color-dim-gray);
    list-style: none;
    z-index: 1;
}

.list-details details summary::before {
    content: '\27a3';
    margin-right: 5px;
    display: inline-block;
    width: 15px;
}

.list-details details[open] summary::before {
    content: '\2b99';
    margin-right: 5px;
}

.list-details details>div {
    background-color: var(--color-old-lace);
    border: 1px solid var(--color-bisque);
    border-radius: 5px;
    box-shadow: 5px 11px 20px var(--color-silver);
    padding: 10px;
}

.list-details h3 {
    margin-top: 10px;
}

/* ------------------------ list-multi -------------------------------------------*/
.list-multi {
    margin: 10px 0 10px 40px;
}

.list-multi li {
    margin: 3px 0 0 20px;
}

.list-multi span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dim-gray);
    font-style: italic;
}

/* ------------------------ background-image-wrap -------------------------------------------*/

.background-image-wrap {
    margin: 20px 0;
    height: 200px;
    /* background-color: #000; */
    border: 1px solid var(--color-dim-gray);
    border-radius: 5px;
}

.background-image-image {
    background-image: url(/img/leopard-black.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    -webkit-background-clip: text;
    font-size: 100px;
    color: transparent;
}