.formats-image{
    margin: 20px 0;
}

.formats-image-vector, .formats-image-raster, .formats-image-images{
    margin: 20px 0;
}

.formats-image-svg{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-dim-gray);
    border-radius: 5px;
    padding: 20px;
    margin: 10px auto 0;
}

.formats-image-svg svg{
    cursor: pointer;
    transition:all 0.5s ease;
}

.formats-image-svg svg:nth-child(1):hover{
    width: 40px;
    height: 40px;
}
.formats-image-svg svg:nth-child(2) path{
    stroke: var(--color-rosy-brown);
}

.formats-image-svg svg:nth-child(2):hover{
    fill: var(--color-rosy-brown);
}

.formats-image-svg svg:nth-child(3):hover{
    transform: rotate(180deg);
}

/* ---------formats-image-images------------- */
.formats-image-images{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.formats-image-images__item{
    display: inline-block;
    transition: .5s ease;
}

.formats-image-images__item img{
    width: 300px;
}

.formats-image-images__item:hover{
    background-color: rgba(0, 0, 0, .3);
}

/* ---------tag-img--------- */
.tag-img, .tag-img-wrap{
    margin: 20px 0;
}

.tag-img-wrap p{
    font-style: italic;
}

/* ---------background-image--------- */
.background-image{
    margin: 20px 0;
}
.background-image p{
    margin-bottom: 10px;
}

.background-image-wrap{
    margin: 20px 0;
    height: 200px;
    border: 1px solid var(--color-dim-gray);
    border-radius: 5px;
}
.background-image__image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/leopard-black.jpg);
    height: 100%;
    /* background-color: black; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-repeat: space; */
    /* background-repeat: no-repeat; */
    /* background-position: top center; */
    /* background-position: 30px bottom; */
    /* background-size: contain; */
    background-size: cover;
    -webkit-background-clip: text;
    font-size: 100px;
    color: transparent;

}

