.position-title{
    margin-top: 20px;
}

.position .exemple{
    position: relative;
    max-width: 600px;
    margin: 20px auto;
}

.block-box{
    height: 50px;
    background-color: var(--color-rosy-brown);
    border: 1px solid var(--color-dim-gray);
    margin-bottom: 5px;
    padding: 10px;
}
.block-box:last-child{
    position: relative;
    background-color: var(--color-silver);
    margin-bottom: 0;
}
.block-box:first-child{
    position: relative;
    z-index: 3;
}
.block-box:nth-child(2){
    position: absolute;
    z-index: 4;
    top: 5px;
    left: 0;
    background-color: var(--color-bisque);
}