.tables-exemple {
    margin: 20px 0;
}
.tables-exemple table{
    width: 100%;
    border-collapse: separate;
    /* border: 1px solid #000; */
    border-spacing: 10px;
    background-color: #fdfdfd;
    font-size: 14px;
    text-align: center;
}

.tables-exemple table th,td{
    border: 1px solid #777;
    padding: 5px;
}
.tables-exemple caption{
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;
    color: rgb(18, 112, 34);
    margin-right: 10px;
}