.tables-example {
	margin: 20px 0;
}

.tables-example table {
	width: auto;
	border-collapse: separate;
	border: 1px solid #ddd;
	border-spacing: 10px;
	background: #fdfdfd;
	font-size: 14px;
}

td, th {
	border: 1px solid #ddd;
	padding: 5px;
}

caption {
	font-style: italic;
	text-align: right;
	margin: 0px 0px 10px 0px;
	color: darkslateblue;
}