@import "./resetting-styles";
@import "./_patterns-and-mixinos"; 
/**-------------------------------*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.section {
	max-width: 1170px;
	margin: 5px auto;
}
.element {

	& h2 {
		background-color: Fuchsia;
		font-size: 19px;
		font-weight: 600;
		text-align: center;
		line-height: 30px;
	}

	& p {
		background-color: Lime;
		margin: 0 5px 0 5px;
	}

}


.flex-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header {
		min-height: 100px;
	}

	&__body {
		flex: 1 1 auto;
	}

	&__footer {
		min-height: 100px;

	}
}
