@charset "UTF-8";
/** Сброс стилей CSS                 */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/**                                        */
.content {
  font-family: "IBM Plex Mono", monospace;
  max-width: 800px;
  height: 100vh;
  background-color: silver;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr;
}

.voucher {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  color: blue;
}
.voucher__header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  border-bottom: 3px dashed blue;
}
.voucher__result {
  padding: 10px;
  text-align: center;
  font-size: 19px;
  line-height: 26px;
}

.list {
  padding: 10px;
}
.list__header {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
  border-bottom: 1px dashed blue;
}
.list__list {
  padding: 5px;
  text-align: center;
  line-height: 20px;
  border-bottom: 1px dashed blue;
}

/**            МЕДИА ЗАПРОСЫ               */