* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

<<<<<<< HEAD
.block__square {
	width: 266px;
	height: 266px;
	background-color: rgb(42, 39, 39);
	transition: .5s ease;
}

.block__square:hover {
	background: url(../img/img2.jpg) center / 160% no-repeat;
=======
a :hover {
  text-decoration: none;
>>>>>>> 95f2fc99f6ec98c3416b11e89a937d4c05a71895
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

<<<<<<< HEAD
.text__column p {
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	color: #676767;
	max-width: 90%;
}

.text__column button {
	margin: 16px 0 0 0;
	width: 80px;
	height: 24px;
	background: #232323;
	transition: 3.5 ease;
}

.text__column button:hover {
	width: 86px;
	height: 30px;
	background: #5f5f5f;
}

.text__column button>a {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
	text-transform: uppercase;
}

.text__quote {
	width: 266px;
	margin: 30px 0 0 0;
}

.text__quote blockquote {
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.05em;
	color: #676767;
	margin: 0 0 0px 20px;
	display: inline-block;
}

.blockquote-wrap {
	margin: 0 0 0 10px;
	display: inline-block;
	width: 266px;
}

.blockquote-wrap {
	font-size: 25px;
}


.text__quote blockquote::before {
	content: "❝";
	font-size: 25px;
	margin: 0 10px 0 0;
	color: #BFBFBF;
}

.text__quote blockquote>span::after {
	content: "❞";
	font-size: 25px;
	margin: 0 0px 0 130px;
	color: #BFBFBF;
}

.text__quote blockquote>span {
	display: inline-block;
	margin-left: 30px;
}

.text__cite {
	margin: 30px 0 0 0;
	text-align: end;
	color: #676767;
}

.text__cite i {
	color: #676767;
	font-weight: 800;
	line-height: 22px;
=======
/*--------------------------*/
body {
  padding: 0px 0px 0px 0px;
>>>>>>> 95f2fc99f6ec98c3416b11e89a937d4c05a71895
}