@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  background: orange;
  padding: 20px; }

.box-input {
  display: flex;
  flex-direction: column; }

.out {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid black;
  width: 400px;
  margin-top: 10px; }

/*----------------------МЕДИА ЗАПРСЫ----------------------- */
