// ИМПОРТЫ
@import "resetting-styles"
@import "patterns"
//-------------------------------------------


html
	height: 100%

body
	background-color: DarkSlateGrey
	font-family: Verdana
	padding-bottom: 10px
	height: 100%

.task
	background-color: white
	max-width: 600px
	margin: 10px auto
	border-radius: 4px
	padding: 20px
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6)


.title-h2
	font-size: 26px
	font-weight: 600
	text-align: center
	color: blue
	font-style: italic
	margin-top: 0
	margin-bottom: 10px



// ---------Задание 2------------

#task2-form
	border-bottom: 1px solid grey
	padding: 10px

#task2-button
	background: coral
	line-height: 26px
	padding: 0px 10px
	@extend %shadow1

.task2-select
	@extend %border
	width: 100px
	height: 25px
//------------------------------------------
// МЕДИА ЗАПРОСЫ
@import "media_queries"