* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/*--------------------------*/
body {
  padding: 0px 0px 0px 0px;
}

.wrapper {
  border: 2px solid red;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 10px;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
  border: 2px solid green;
}
.block__row {
  display: flex;
  border: 20px solid #ece89d;
  margin: 0px 0px 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}
.block__column {
  border: 20px solid #5e5373;
}
.block__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}