doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title empty_project
		link(rel="stylesheet", href="./style/style.css")
	body
		.task3.task
			h2.title-h2 Задание 3
			.task3__content
				form#form-select(name="formSelect")
					label Направление
					select.direction(name="direction")
					label Дата
					input.date(type="date", name="date")
					button.button(name="selectButton") Выбрать
		script(type="text/javascript", src="./js/script.js")