@charset "UTF-8";
/** Сброс стилей CSS                 */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
  color: inherit;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/**                                        */
body {
  font-family: Segoe UI;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.content__aside-wrap {
  position: relative;
  background-color: #F6F6F6;
  margin-right: 5px;
  width: 198px;
}
.content__main-wrap {
  background-color: #E9E9E9;
  width: 100%;
  min-height: 929px;
  padding-left: 25px;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 198px;
  min-height: 100vh;
  box-shadow: 4px 0px 4px rgba(96, 84, 84, 0.5);
}
.aside__title {
  height: 73px;
  border-bottom: 2px solid #E2E2E2;
}
.aside__title h2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding: 26px 0 0 31px;
  color: rgb(50, 50, 50);
}
.aside__aside-menu {
  margin-top: 13px;
}

.aside-menu {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-left: 12px;
}
.aside-menu__item {
  width: 167px;
  height: 40px;
  margin: 2px;
  padding: 12px 0 0 20px;
  color: #817D7A;
}
.aside-menu__item a:visited {
  color: #817D7A;
}
.aside-menu__item:hover {
  border: 1px solid #A83C57;
}
.aside-menu__item_active {
  background: #A83C57;
  color: #fff;
}
.aside-menu__item_active a:visited {
  color: #fff;
}
.aside-menu__img {
  margin-top: 2px;
  height: 13px;
  padding-right: 13px;
}

.main-wrap__footer {
  border-top: 2px solid #928d8d;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 23px 40px;
}
.footer__nav {
  display: flex;
}
.footer__nav li {
  margin-right: 23px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #5c5957;
}
.footer p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #817D7A;
}

.main {
  padding-right: 25px;
}
.main__title {
  display: flex;
  padding: 25px 25px 25px 0;
}
.main__burger {
  height: 14px;
  margin: 2px 12px 0 0;
  display: none;
}
.main h2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgb(50, 50, 50);
}
.main__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  width: 100%;
  margin: 20px 0;
}
.main__charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin: 60px 0;
}

.info-card {
  position: relative;
  background-color: #F6F6F6;
  padding: 20px 14px 0px 14px;
  box-shadow: 2px 2px 4px rgba(96, 84, 84, 0.5);
}
.info-card__picture {
  position: absolute;
  top: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
}
.info-card__picture img {
  width: 34px;
}
.info-card p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #817D7A;
  text-align: end;
}
.info-card h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: rgb(50, 50, 50);
  text-align: end;
  margin: 10px 0px 17px 0px;
}
.info-card__comment {
  display: flex;
  border-top: 2px solid #928d8d;
  padding: 18px 0px 18px 0px;
}
.info-card__comment img {
  height: 12px;
  margin: 2px 5px 0 0;
}
.info-card:nth-child(1) .info-card__picture {
  background-color: #5C8821;
}
.info-card:nth-child(2) .info-card__picture {
  background-color: #C7A139;
}
.info-card:nth-child(3) .info-card__picture {
  background-color: #3C4B93;
}
.info-card:nth-child(4) .info-card__picture {
  background-color: #A83C57;
}

.charts-card {
  background-color: #F6F6F6;
  padding: 20px 15px 0px 15px;
  box-shadow: 2px 2px 4px rgba(96, 84, 84, 0.5);
  min-height: 250px;
}
.charts-card__picture-wrap {
  position: relative;
  height: 50%;
}
.charts-card__picture {
  position: absolute;
  top: -35px;
  width: 100%;
  height: 155px;
  text-align: center;
  padding: 15px 10px;
}
.charts-card__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.charts-card__comment {
  display: flex;
  border-top: 2px solid #928d8d;
  padding: 15px 0px 5px 0px;
}
.charts-card__comment img {
  height: 10px;
  margin: 1px 5px 0 0;
}
.charts-card__comment > p {
  color: #817D7A;
  font-size: 12px;
}
.charts-card:nth-child(1) .charts-card__picture {
  background-color: #5C8821;
}
.charts-card:nth-child(2) .charts-card__picture {
  background-color: #C7A139;
}
.charts-card:nth-child(3) .charts-card__picture {
  background-color: #3C4B93;
}
.charts-card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #817D7A;
  margin: 15px 0 5px 0;
}
.charts-card > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #817D7A;
  margin: 5px 0 15px 0;
}

.user-profile__wrapper {
  width: 100%;
  padding: 30px 0 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.user-profile__editor {
  padding: 15px;
}

.editor {
  box-shadow: 2px 2px 4px rgba(96, 84, 84, 0.5);
  background-color: #F6F6F6;
  position: relative;
  max-width: 60%;
  flex: 1 0;
}
.editor__wrap-title {
  position: relative;
  width: 100%;
  height: 42px;
}
.editor__title {
  position: absolute;
  background: #A83C57;
  height: 68px;
  width: 100%;
  top: -36px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 15px;
  color: #E9E9E9;
}
.editor__title h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.grid-container {
  margin-bottom: 40px;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas: "company_name username_name username_name email_name" "company_text username_text username_text email_text" "first_name first_name last_name last_name" "first_text first_text last_text last_text" "address_name address_name address_name address_name" "address_text address_text address_text address_text" "city_name country_name country_name postal_name" "city_text country_text country_text postal_text" "about_name about_name about_name about_name" "about_text about_text about_text about_text";
}
.grid-container__grid-item {
  background-color: #F6F6F6;
  color: #928d8d;
  margin-left: 5px;
}
.grid-container .grid-name {
  font-size: 12px;
  padding-top: 7px;
}
.grid-container .grid-text {
  border-bottom: 1px solid #928d8d;
}
.grid-container :nth-child(1) {
  grid-area: company_name;
}
.grid-container :nth-child(2) {
  grid-area: username_name;
}
.grid-container :nth-child(3) {
  grid-area: email_name;
}
.grid-container :nth-child(4) {
  grid-area: company_text;
}
.grid-container :nth-child(5) {
  grid-area: username_text;
}
.grid-container :nth-child(6) {
  grid-area: email_text;
}
.grid-container :nth-child(7) {
  grid-area: first_name;
}
.grid-container :nth-child(8) {
  grid-area: last_name;
}
.grid-container :nth-child(9) {
  grid-area: first_text;
}
.grid-container :nth-child(10) {
  grid-area: last_text;
}
.grid-container :nth-child(11) {
  grid-area: address_name;
}
.grid-container :nth-child(12) {
  grid-area: address_text;
}
.grid-container :nth-child(13) {
  grid-area: city_name;
}
.grid-container :nth-child(14) {
  grid-area: country_name;
}
.grid-container :nth-child(15) {
  grid-area: postal_name;
}
.grid-container :nth-child(16) {
  grid-area: city_text;
}
.grid-container :nth-child(17) {
  grid-area: country_text;
}
.grid-container :nth-child(18) {
  grid-area: postal_text;
}
.grid-container :nth-child(19) {
  grid-area: about_name;
}
.grid-container :nth-child(20) {
  grid-area: about_text;
}

.editor__button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 30px;
  color: #F6F6F6;
  background: #A83C57;
}

.user-info {
  position: relative;
  text-align: center;
  background: #F6F6F6;
  box-shadow: 2px 2px 4px rgba(96, 84, 84, 0.5);
  max-width: 35%;
  padding: 15px;
}
.user-info__foto {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -35px;
  background: #A83C57;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(27, 26, 26, 0.6);
}
.user-info__foto img {
  width: 136%;
  height: 136%;
  margin-left: -16px;
  margin-top: -16px;
}
.user-info h2 {
  margin-top: 80px;
  color: #928d8d;
  font-weight: 500;
  letter-spacing: -5;
  font-size: 16px;
}
.user-info h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 15px 0;
}
.user-info p {
  font-size: 12px;
  line-height: 17px;
  color: #817D7A;
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 100px 0 50px 0;
}
.lists__task-list {
  min-width: 49%;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 4px rgba(27, 26, 26, 0.6);
}
.lists__worker-list {
  min-width: 49%;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 4px rgba(27, 26, 26, 0.6);
}

.task-list {
  position: relative;
  padding: 70px 17px 0 17px;
}
.task-list__header {
  position: absolute;
  background-color: #C7A139;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px;
  width: 93%;
  height: 74px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.task-list h3 {
  margin: 0 15px;
  color: #E9E9E9;
  font-weight: 500;
}
.task-list__button {
  background-color: #C7A139;
  color: #E9E9E9;
  font-weight: 500;
  height: 43px;
  width: 90px;
}
.task-list__button img {
  height: 13px;
  margin: 2px 5px 0 0;
}
.task-list__button:hover {
  background-color: #CFAF54;
}
.task-list__button_active {
  background-color: #CFAF54;
}
.task-list p {
  font-size: 12px;
  color: #817D7A;
  flex: 1 0 auto;
  margin: 0 0 0 5px;
}
.task-list__edit img {
  height: 15px;
  margin: 0 10px 0 10px;
}
.task-list__remove img {
  height: 15px;
}

.task-list-row {
  display: grid;
  grid-template-columns: 0.2fr 4fr 0.1fr 0.1fr;
  margin: 0 0 15px 0;
  padding-top: 15px;
  border-top: 1px solid #928d8d;
}
.task-list-row:first-child {
  border-top: 1px solid green;
}
.task-list-row button {
  background-color: #F6F6F6;
}

.task-list-row_no-board {
  border-top: none;
}

.worker-list {
  position: relative;
  padding: 80px 17px 0 17px;
}
.worker-list__header {
  position: absolute;
  background-color: #3C4B93;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px;
  width: 93%;
  height: 80px;
  padding: 15px;
}
.worker-list__header h2 {
  color: #E9E9E9;
  margin-bottom: 15px;
  font-weight: 400;
}
.worker-list__header h3 {
  color: #E9E9E9;
}

.worker-table {
  padding-left: 15px;
}
.worker-table__header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
}
.worker-table__header h2 {
  margin: 0 0px 10px 0px;
  font-weight: 400;
  color: #6B989E;
  font-size: 12px;
}
.worker-table p {
  margin-right: 40px;
  font-size: 12px;
  font-weight: 400;
  color: #817D7A;
  margin: 10px 0px 10px 0px;
}
.worker-table__rows {
  border-top: 1px solid #928d8d;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
}

/**            МЕДИА ЗАПРОСЫ               */
@media only screen and (max-width: 1000px) {
  .main__info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 60px;
  }
  .charts-card__picture {
    height: 120px;
  }
  .charts-card__picture-wrap {
    height: 40%;
  }
  .user-profile__wrapper {
    flex-wrap: wrap-reverse;
  }
  .user-profile__info {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .user-profile__editor {
    max-width: 100%;
  }
  .lists {
    grid-template-columns: 1fr;
  }
  .lists__task-list {
    min-width: 100%;
    margin-bottom: 60px;
  }
  .lists__worker-list {
    min-width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .content__aside-wrap {
    display: none;
  }
  .main__burger {
    display: block;
  }
}
@media only screen and (max-width: 650px) {
  .charts-card {
    min-height: 280px;
  }
  .charts-card__picture-wrap {
    height: 50%;
  }
  .charts-card__picture {
    height: 170px;
  }
  .main__charts {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .main__info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}