* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/*--------------------------*/
body {
  padding: 0px 0px 0px 0px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  border: 5px solid red;
  margin: 20px auto 0px auto;
  text-align: center;
}
.button {
  height: 80px;
  width: 300px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: rgb(35, 191, 35);
  padding: 20px;
  border-radius: 40px;
  color: white;
}