//TODO            ШАБЛОНЫ                         

//?  Подключение:
//?  @extend %name;

//* выравниевание по центру
%flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}