@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input ::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button ::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a :visited {
  text-decoration: none; }

a :hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5 {
  font: inherit;
  font-weight: 400; }

/*--------------------------------------------------------- */
/** Флекс центр */
#task1_form, .task3__content {
  display: flex;
  justify-content: center;
  align-items: center; }

.task3__content, .task3__div {
  border: 1px solid black; }

html {
  height: 100%; }

body {
  background-color: DarkSlateGrey;
  font-family: Verdana;
  padding-bottom: 10px;
  height: 100%; }

.task {
  background-color: silver;
  max-width: 900px;
  margin: 10px auto;
  min-height: 250px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); }

.title-h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: blue;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 10px; }

#task1_form {
  border: 2px solid DarkSlateGrey;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 75%;
  margin: 0 auto; }

#task1-form-name {
  width: 99%;
  font-size: 19px;
  line-height: 25px;
  padding-left: 5px; }

#task1-form-message {
  width: 99%;
  padding: 5px;
  font-size: 17px; }

#task1-form-button {
  width: 99%;
  font-size: 19px;
  line-height: 30px; }

.message {
  border: 1px solid black;
  margin-bottom: 10px; }

.message__nameDate {
  border-bottom: 1px dashed black;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  line-height: 28px; }

.message__name {
  font-weight: bold; }

.message__date {
  font-weight: bold; }

.message__text {
  padding: 5px; }

#task2-form {
  margin: 0 auto;
  width: 450px;
  background-color: Moccasin;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px; }

.task2-questin {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px; }

.task2-radio {
  margin: 0px 0px 5px 15px;
  font-size: 16px; }

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white; }

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white; }

#task2-button {
  display: block;
  margin: 10px auto;
  width: 100px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px; }

.task3__content {
  width: 450px;
  margin: 0 auto;
  flex-direction: column;
  padding: 10px; }

.task3__checkboxes {
  padding: 5px;
  margin-bottom: 10px; }

.task3__checkboxes > span {
  display: inline-block;
  margin-right: 7px;
  margin-left: 4px; }

.task3-bold {
  font-weight: bold; }

.task3-underline {
  text-decoration: underline; }

.task3-italic {
  font-style: italic; }

.task3__textarea {
  width: 96%;
  padding: 5px;
  font-size: 15px; }

.task3__button {
  width: 96%;
  margin: 10px 0;
  font-size: 15px;
  line-height: 25px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.task3__div {
  width: 450px;
  margin: 10px auto;
  padding: 5px; }

.task3__none {
  display: none; }

/*----------------------МЕДИА ЗАПРСЫ----------------------- */
