@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/******************  Стили CSS сброшены  ******************/
body {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  background-color: rgb(146, 145, 145);
  padding-bottom: 30px;
}

.container {
  width: 1440px;
  height: 1700px;
  background-color: #e8e8e8;
  margin: 20px auto auto auto;
  border: 2px solid rgb(218, 180, 13);
}

.box {
  width: 1190px;
  height: 1064px;
  opacity: 1;
  margin: 106px 0 0 142px;
  padding: 62px 0 0 0;
}
.box__logo {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  text-align: center;
}
.box__title {
  width: 725px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  text-align: center;
  margin: 0 auto 87px auto;
}
.box__imagebox {
  margin: 0 auto 60px auto;
  background-color: #fff;
  width: 841px;
  height: 561px;
  box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
  padding: 10px;
}
.box__text {
  max-width: 750px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
  margin: 0 auto 0 auto;
}
.box__text .first-paragraph {
  margin: 0 0 30px 0;
}

.list {
  margin: 167px 0 0 360px;
  font-family: Arial;
  font-size: 20px;
}
.list__item1 {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}
.list__item2 {
  font-style: italic;
  color: #80b7b3;
}
.list__item3 {
  font-weight: 700;
  color: #273d46;
}
.list__item4 {
  text-decoration: line-through;
  color: #273d46;
}
.list li {
  margin: 0 0 16px 0;
  background: url(../img/icons/check_icon_37.png) left no-repeat;
  padding: 0 0 0 37px;
}

.button {
  margin-left: 360px;
  margin-top: 70px;
  display: block;
  width: 199px;
  height: 44px;
  background-color: rgb(128, 183, 179);
  border-radius: 50px;
}
.button__inscription {
  width: 155px;
  margin: auto;
}
.button p {
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 0 11px 0 0;
}
.button__image {
  display: inline-block;
}
.button__image img {
  width: 21px;
  height: 14px;
  margin: 10 0 auto 0;
}