@import "./resetting-styles";
@import "./_mixins"; 
@import "./templates";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400&display=swap');

//*****************************
body {
    background-color: lightblue;
    height: 100vh;
    
}
.content {
    max-width: 800px;
    background-color: white;
    height: 100%;
    margin: 0 auto;
}
.header {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 56px;
    text-align: center;
    color: LightYellow;
    background-color: blue;
}

.list {
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    &__title {
        margin-top: 10px;
        &>div {
            border: 1px solid #000;
            text-align: center;
            font-weight: 600;
            font-size: 19px;
            line-height: 25px;
        }
    }
    &__list {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        &>div {
            border: 1px solid #000;
        }
    }
    
}
.H2-title {
    color: MediumBlue;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr .5fr .6fr;
}

.select {
    margin-top: 20px;
    & select {
        border: 1px solid DarkGrey;
        color: DarkSlateGrey;
        font-size: 18px;
        height: 30px;
        width: 300px;
    }
    &__button {
    width: 80px;
       
       
    }
}

.sort {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &__seat {
        width: 350px;
    }
    &__title {
        width: 350px;

    }
	
}

.button {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 28px;
    background: blue;
    color: lightyellow;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .5);
    &:hover {
        color: blue;
        background-color: lightyellow;
        }
}









//* МЕДИА ЗАПРОСЫ         
@import "./media_queries";