* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.png-image {
	max-width: 750px;
	height: 540px;
	margin: 30px auto;
	padding: 4%;
	background: rgb(53, 166, 241);
}

.png-image img {
	width: 100%;
	height: 100%;
}

.jpg-image {
	width: 750px;
	height: 550px;
	margin: 30px auto;
	background: #898989 url(../img/2560x1600_904588_[www.ArtFile.ru].jpg) center / 90%  no-repeat; 
}