@import "./resetting-styles";
@import "./_mixinos"; 
/*--------------------------*/

body {
	padding: 30px;
	
}


.container {
	width: 800px;
	height: 600px;
	background-color: #f2f2f2;
	margin: 0 auto;
	border: 1px solid #000;

}

.entry-form {
	width: 422px;
	height: 442px;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
	margin: 80px auto;
	text-align: start;

	&__header {
		width: 420px;
		height: 60px;
		background-color: #4c6da6;
		border-radius: 5px 5px 0 0;
		

		&>a {
			display: inline-block;
			font-family: 'Segoe UI';
			font-size: 22px;
			line-height: 26px;
			letter-spacing: 0.01em;
			color: #ffffff;
			margin: 15px 0 0 31px;
		}
	}

	&__social-net {


	}

	&__text {
	width: 360px;
	height: 55px;
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
	font-family: 'Segoe UI';
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #a7a6a6;
	
	
	}







	&__button {
		width: 360px;
		height: 55px;
		background-color:#f3585e;
		border: 1px solid #dfdfdf;
		border-radius: 6px;
		font-family: 'Segoe UI';
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: #ffffff;
	}

	&__down {}
}

.social-net {
	width: 50%;
	height: 100%;
	display: inline-flex;
	float: right;
	justify-content: flex-end;

	&__block {
		width: 70px;
		text-align: center;
		padding: 20px 0 0 0;
		border-left: 1px solid #3f5f95;

		
	}
	
}