@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 98vw;
  height: 100vh;
  max-width: 1170px;
  max-height: 100vh;
  margin: 0.5% auto;
}

.background-box {
  background: url(../img/background-box__back.jpg) center/100% 100% no-repeat;
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #D6CDCD;
}
.header__logo img {
  height: 24px;
}
.header__nav {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #E1E1E1;
  text-transform: uppercase;
}
.header__nav a:visited {
  color: #E1E1E1;
}
.header__nav a:hover {
  text-decoration: underline;
  color: yellow;
}
.header__nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(1, auto);
  gap: 10px;
}
.header__nav ul:last-child {
  margin-right: 0;
}
.header__nav {
  margin: 5px 0 0 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #E1E1E1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.header__burger {
  display: none;
}

.center-block {
  color: #FFFEFC;
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
}
.center-block h1, .center-block h3 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.center-block h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 70px;
  text-align: center;
}
.center-block h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
}

.button {
  width: 230px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.button__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #494646;
  text-transform: uppercase;
}
.button__title img {
  margin-right: 10px;
}

.inform-box__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #FF9428;
  text-align: center;
  margin-bottom: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  min-height: 370px;
}
.projects__card {
  background-color: #494646;
}
.projects__card:nth-child(1) {
  background: url(../img/road1.jpg) center/100% 100% no-repeat;
}
.projects__card:nth-child(2) {
  background: url(../img/road2.jpg) center/100% 100% no-repeat;
}
.projects__card:nth-child(3) {
  background: url(../img/road3.jpg) center/100% 100% no-repeat;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.card__slyder {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 100%;
  padding: 25px 20px;
  top: 200px;
  transition: 0.5s;
}
.card__slyder h3 {
  color: #8E8B8B;
  font-weight: 500;
}
.card__slyder h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0;
}
.card__slyder p {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.card__slyder:hover {
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
}
.card__slyder:hover h3 {
  text-align: center;
  color: #ffffff;
}
.card__slyder:hover h2 {
  text-align: center;
  background-color: #E6A02C;
  line-height: 35px;
}
.card__slyder:hover p {
  text-align: center;
  color: #ffffff;
}

/**            МЕДИА ЗАПРОСЫ               */
@media only screen and (max-width: 650px) {
  .header__nav ul {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
  .center-block h1 {
    font-size: 45px;
  }
  .center-block h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .button {
    width: 170px;
    height: 45px;
  }
  .button__title span {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
  }
  .button__title img {
    display: none;
  }
}